:root {
	--primary: #0088aa;
	--accent: #00aadd;
}

body {
	background-image: url('../images/2023-01-11_cat_sleeping_on_window.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;
	margin: 0;
	backdrop-filter: blur(10px);
	font-size: 125%;
}

main {
	padding: 2em;
	font-family: sans-serif;
}

form * {
	font-size: 1em;
}

.frosted>* {
	background-color: color-mix(in srgb, var(--primary) 50%, transparent);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow:
		0 8px 32px rgba(0, 0, 0, 0.1),
		inset 0 1px 0 rgba(255, 255, 255, 0.5),
		inset 0 -1px 0 rgba(255, 255, 255, 0.1),
		inset 0 0 0px 0px rgba(255, 255, 255, 0);
	position: relative;
	overflow: hidden;
	padding: 1em;
}

#h1 {
	text-align: center;
	color: white;
	border-radius: 0.5em;
	padding: 0.5em;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#settings-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 1em;
	border-radius: 1em;
	color: white;
	white-space: nowrap;
}

#settings-btn {
	position: absolute;
	right: 3em;
	bottom: 2em;
}

#close-btn {
	font-size: 125%;
	float: right;
	background-color: lightcoral;
	color: black;
	border: none;
	border-radius: 0.25em;
	line-height: 1em;
	width: 1em;
	height: 1em;
	padding: 0;
	vertical-align: middle;
}

#close-btn img {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

#close-btn:hover {
	background-color: crimson;
}

#close-btn:active {
	background-color: darkred;
}

#settings-btns {
	margin-top: 0.5em;
}

#settings-header {
	margin-bottom: 0.25em;
}

#save-btn {
	float: right;
}

#reset-btn {
	float: left;
}

.hidden {
	display: none;
}

.btn {
	border-radius: 0.5em;
	padding: 0.25em;
	background-color: var(--primary);
	border: 0.15em solid var(--accent);
	color: white;
}

.btn:hover {
	background-color: var(--accent);
}

.btn:active {
	border-color: var(--primary);
	background-color: var(--primary);
}

input[type="text"] {
	padding: 0.25em;
	border-radius: 0.5em;
	background-color: dimgray;
	color: white;
	border: 0.15em solid var(--accent);
}

input[type="text"]::placeholder {
	color: lightgray;
}

input[type="text"]:focus {
	outline: none;
}


input[type="checkbox"] {
	appearance: none;
	width: 1em;
	height: 1em;
	background: white;
	vertical-align: middle;
	position: relative;
	border-radius: 0.2em;

	&::before {
		content: "";
		inset: 0.1em;
		transform: scale(0);
		transition: 50ms transform ease-in-out;
		position: absolute;
		background-color: var(--accent);
		border-radius: 0.2em;
	}

	&:checked::before {
		transform: scale(1);
	}
}

#search-container {
	position: absolute;
	border-radius: 1em;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#search-container form {
	padding: 1em;
}