:root {
	--primary: #0088aa;
	--accent: #00aadd;
}

body {
	background-image: url('../images/2023-01-11_cat_sleeping_on_window.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	padding: 0;
	margin: 0;
	backdrop-filter: blur(10px);

	font-size: larger;
}

main {
	padding: 2em;
	font-family: sans-serif;
}

#h1 {
	text-align: center;
	color: white;
	background-color: var(--primary);
	border-radius: 0.5em;
	padding: 0.5em;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#settings-popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--primary);
	padding: 1em;
	border-radius: 1em;
	color: white;
	font-weight: bold;
}

#settings-btn {
	position: absolute;
	right: 3em;
	bottom: 2em;
}

#close-btn {
	font-size: 125%;
	float: right;
	background-color: lightcoral;
	color: black;
	border: none;
	border-radius: 0.25em;
	line-height: 1em;
	width: 1em;
	height: 1em;
	padding: 0;
	vertical-align: middle;
}

#close-btn img {
	width: 1em;
	height: 1em;
	vertical-align: middle;
}

#close-btn:active {
	background-color: crimson;
}

#settings-btns {
	margin-top: 0.5em;
}

#settings-header {
	margin-bottom: 0.25em;
}

#save-btn {
	float: right;
}

#reset-btn {
	float: left;
}

.hidden {
	display: none;
}

.btn {
	border-radius: 0.5em;
	padding: 0.25em;
	background-color: var(--primary);
	border: 0.25em solid var(--accent);
	color: white;
}

input[type="text"] {
	padding: 0.25em;
	border-radius: 0.5em;
	background-color: dimgray;
	color: white;
	border: 0.25em solid var(--accent);
}

input[type="text"]::placeholder {
	color: lightgray;
}

input[type="text"]:focus {
	outline: none;
}